.footer{
  position: relative;
  background-color: #F8F8F8;

  &-inner{
    display: flex;
    justify-content: space-between;
  }

  &-info{
    max-width: 35%;
    text-align: left;
    margin-right: 1.25rem;
  }

  &__social{
    margin: 0.312rem 0 1.875rem;
  }

  &-nav{
    display: flex;
    color: $black;
    font-weight: 500;
    font-size: 1.125rem;

    &__item{
      margin-right: 3.75rem;
      overflow: hidden;

      &:last-child{
        margin-right: 0;
      }
    }

    &__list{
      margin-top: 1.25rem;
      overflow: hidden;
      transition: .3s;

      &-item{
        margin-bottom: 0.625rem;
      }
    }

    &__link{
      color: $color-font;
      font-weight: 400;
      font-size: 1rem;
      transition: all .3s;

      &:hover{
        color: $accent-color;
      }
    }
  }

}

.social{

  &__link{
    display: inline-block;
    position: relative;
    background-color: #fff;
    width: 2.112rem;
    height: 2.112rem;
    margin-right: 1.25rem;
    border-radius: 50%;
    color: $accent-color;
    box-shadow: 0px 13px 18px 0 rgba($color: #111323, $alpha: 0.08);
    transition: transform .3s;

    &:hover{
      transform: translateY(-3px);
    }

    svg{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 1.125rem;
      height: 1.125rem;
      fill: currentColor;
    }
  }
}

.copy{
  color: #AFB5C0;

  span{
    font-weight: 500;
  }
}