@import "vars";

*, *::after, *::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 16px;
}

body{
  font-family: $ff-base;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.875;
  background-color: #fff;
  color: $color-font;
}

button{
  font-family: $ff-base;
  font-weight: 500;
  cursor: pointer;

  &:focus{
    outline: none;
  }
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

input{
  font-family: $ff-base;
  font-size: 1rem;

  &:focus{
    outline: none;
  }
}

.container{
  max-width: 1220px;
  margin: 0 auto;
  padding: 0px 10px;
  overflow: hidden;
}

.page{
  &__header{
    padding-top: 2.875rem;
  }

  &__about{
    // padding: 1.25rem 0;
  }

  &__features{
    padding: 2.968rem 0 6.25rem;
  }

  &__product{
    padding: 5rem 0;
  }

  &__network{
    padding-top: 4.375rem;
  }

  &__reviews{
    padding: 3.125rem 0 11.25rem;
  }

  &__footer{
    padding: 11.25rem 6.75rem 6.25rem;
  }
}

.main{
  background: linear-gradient(0deg, #fdfdfd 50%, #ffffff);
}

.title{
  font-size: 2.187rem;
  line-height: 1.42;
  font-weight: 500;
  color: $black;
}

.subtitle {
  line-height: 1.875;
}

.button {
  &_sm {
    min-width: 7.8125rem;
    height: 2.812rem;
    color: $accent-color;
    border-radius: 25px;
    border: 1px solid $accent-color;
    background-color: #fff;
    padding: 0 2.125rem;
    line-height: 2.812rem;
    transition: all .3s ease-in-out;

    &:hover {
      color: #fff;
      background-color: $accent-color;
    }
  }

  &_lg {
    background-color: $accent-color;
    color: #fff;
    height: 3.75rem;
    width: 15.625rem;
    line-height: 3.75rem;
    padding: 0 1rem;
    border-radius: 0.625rem;
    border: none;
    transition: all .3s ease-in-out;

    &:hover {
      box-shadow: 0px 30px 22px -20px rgba(245, 56, 56, 0.35);
      transform: translateY(-3px);
    }

  }

}