.map{
  &__loc {
    position: absolute;
    display: block;

    &_1 {
      top: 50%;
      left: 50%;
    }

    &_2 {
      top: 25%;
      left: 70%;
    }

    &_3 {
      top: 30%;
      left: 15%;
    }

    &_4 {
      top: 70%;
      left: 28%;
    }

    &_5 {
      top: 72%;
      left: 51%;
    }

    &_6 {
      top: 28%;
      left: 51%;
    }

    &_7 {
      top: 21%;
      left: 60%;
    }

    &_8 {
      top: 45%;
      left: 65%;
    }

    &_9 {
      top: 75%;
      left: 79%;
    }

    &_10 {
      top: 6%;
      left: 32%;
    }

    &_11 {
      top: 13%;
      left: 10%;
    }

    &_12 {
      top: 18%;
      left: 17%;
    }

    &_13 {
      top: 24%;
      left: 26%;
    }

    &_14 {
      top: 60%;
      left: 26%;
    }

    &_15 {
      top: 81%;
      left: 27%;
    }

    &_16 {
      top: 50%;
      left: 44%;
    }

    &_17 {
      top: 19%;
      left: 48%;
    }

    &_18 {
      top: 17%;
      left: 92%;
    }

    &_19 {
      top: 17%;
      left: 82%;
    }

    &_20 {
      top: 14%;
      left: 69%;
    }

    &_21 {
      top: 40%;
      left: 75%;
    }

    &_22 {
      top: 64%;
      left: 76%;
    }

    &_23 {
      top: 81%;
      left: 86%;
    }

    &_24 {
      top: 4%;
      left: 39%;
    }

    &_25 {
      top: 17%;
      left: 33%;
    }

    &_26 {
      top: 0;
      left: 25%;
    }

    &_27 {
      top: 18%;
      left: 3%;
    }

    &_28 {
      top: 38%;
      left: 22%;
    }

    &_29 {
      top: 43%;
      left: 17%;
    }
  }
}