.map__loc {

  &_xl {
    width: 2.75rem;
    height: 2.75rem;
  }

  &_lg {
    width: 2.25rem;
    height: 2.25rem;
  }

  &_md {
    width: 1.625rem;
    height: 1.625rem;
  }

  &_sm {
    width: 1.25rem;
    height: 1.25rem;
  }
}