.sub{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 3.125rem;
  width: 71.25rem;
  background-color: #fff;
  box-shadow: $shadow;
  border-radius: 10px;

  @media (min-width: 1350px) {
    width: 71.25rem;
  }

  @media (max-width: 1350px) {
    width: 63.25rem;
  }

  @media (max-width: 1200px) {
    width: 54.25rem;
  }

  @media (max-width: 992px) {
    width: 41.25rem;
    padding: 3rem 2.625rem;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    max-width: 93%;
    padding: 2rem;
  }

  &-text{
    font-size: 2.187rem;
    font-weight: 500;
    line-height: 1.285;
    color: $black;
    margin-right: 1rem;

    @media (max-width: 1200px) {
      font-size: 1.7rem;
    }

    @media (max-width: 992px) {
      font-size: 1.5rem;
    }

    @media (max-width: 768px) {
      margin-bottom: 1rem;
      margin-right: 0;
    }
  }

  &__subtitle{
    color: $color-font;
    font-size: 1rem;
    line-height: 1.875;
    font-weight: 400;
  }

}