@import "global";
@import "vars";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

////////Header///////////
.header{

  &__nav{
    padding: 0 2.18rem;
  }

  &-content{
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__desc{
      width: 50%;
    }

    &__title{
      color: #0B132A;
      font-size: 3.125rem;
      line-height: 1.4;
      // width: 42.375rem;
    }

    &__text{
      line-height: 1.875;
      margin: 2.5rem 0;
      max-width: 95%;
    }

    &__img{
      max-width: 100%;
      width: 50%;
    }
  }

  &__content{
    padding: 5.625rem 0 2.5rem;
  }

}

.logo{
  max-width: 100%;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__link{
    display: block;
  }
}

.menu{
  &__item{
    display: inline-block;
  }

  &__link{
    display: block;
    margin-right: 1.06rem;
    color: $color-font;

    &:hover {
      color: $accent-color;
    }
  }
}

.button{
  &_sm{
    height: 2.812rem;
    color: $accent-color;
    border-radius: 25px;
    border: 1px solid $accent-color;
    background-color: #fff;
    padding: 0 3.125rem;
    line-height: 2.812rem;
    transition: all .3s ease-in-out;

    &:hover {
      color: #fff;
      background-color: $accent-color;
    }
  }

  &_lg{
    background-color: $accent-color;
    color: #fff;
    height: 3.75rem;
    line-height: 3.75rem;
    padding: 0 3.625rem;
    border-radius: 0.625rem;
    border: none;
    transition: all .3s ease-in-out;

    &:hover{
      box-shadow: 0px 30px 22px -20px rgba(245, 56, 56, 0.35);
      transform: translateY(-3px);
    }

  }

}

///////About////////

.about {

  &__info {
    margin: 3.75rem auto 2.968rem;
    padding: 2.375rem 0;
  }
}

.info-progress{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 71.25rem;
  height: 12.5rem;
  border-radius: 0.625rem;
  box-shadow: 0px 15px 50px -25px rgba(13, 16, 37, 0.40);

  &__item{
    display: flex;
    border-right: 2px solid #EEEFF2;

    &:nth-child(1){
      padding: 1.75rem 2.812rem 1.75rem 5.625rem;
    }

    &:nth-child(2) {
      padding: 1.75rem 7.062rem 1.75rem 5.125rem;
    }

    &:nth-child(3) {
      padding: 1.75rem 5.75rem 1.75rem 5rem;
    }

    &:last-child{
      border-right: none;
    }
  }

  &__icon{
    margin-right: 2.25rem;
  }

  &__num{
    font-size: 1.625rem;
    line-height: 1.2;
    font-weight: 700;
    color: $black;
  }

  &__name {
    font-size: 1.25rem;
    line-height: 1.2;
    font-weight: 400;
  }
}

//////Features///////

.features{

  &-inner{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__img{
    max-width: 100%;
  }

  &-info{
    max-width: 50%;

    &__title{
      text-align: left;
    }

    &__desc{
      max-width: 29.687rem;
      margin: 0.937rem 0 1rem;
    }

    &__name{
      position: relative;
      padding-left: 2.125rem;
      font-size: 0.875rem;
      line-height: 1.5rem;
      margin-bottom: 10px;
      color: $color-font;
      font-weight: 400;

      &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-image: url(../images/icons/check.svg);
        width: 1.5rem;
        height: 1.5rem;
      }
    }

  }
}

/////Product///////

.product{
  background: linear-gradient(0deg, #fafafa 30%, #fdfdfd);

  &-text{
    max-width: 34.687rem;
    text-align: center;

    &__desc{
      margin: 1.25rem 0 3.75rem;
    }
  }

  &__text{
    margin: 0 auto;
  }

  &__cards{
    margin: 0 auto;
  }

  &-cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 68.125rem;

    &__item{
      text-align: center;
      background-color: #fff;
      border: 2px solid #DDDDDD;
      border-radius: 0.625rem;
      padding: 5rem 2.5rem 3.125rem;
      margin-right: 3.125rem;

      &:last-child{
        margin-right: 0;
      }
    }
  }
}

.card{
  flex: 0 1 20.625rem;

  &__img{
    max-width: 100%;
  }

  &__title{
    font-size: 1.125rem;
    line-height: 1.666;
    font-weight: 500;
    color: $black;
    margin: 1.875rem 0;
  }

  &-desc{
    text-align: left;
    height: 14.375rem;

    &__name{
      position: relative;
      padding-left: 2.5rem;
      font-size: 0.875rem;
      line-height: 1.5rem;
      margin-bottom: 0.625rem;
      color: $color-font;
      font-weight: 400;

      &:last-child{
        margin-bottom: 0;
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-image: url(../images/icons/done.svg);
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  &-price{
    font-size: 1.562rem;
    line-height: 1.2;

    &__num{
      color: $black;
      font-weight: 500;
    }
  }

  &__button{
    margin-top: 1.25rem;

    &:hover {
      box-shadow: 0px 30px 22px -20px rgba(245, 56, 56, 0.35);
      transform: translateY(-3px);
    }
  }
}